<%- include("./partials/head.ejs") %>

  <header>
    <%- include("./partials/navbar.ejs", { accountUser: accountUser }) %>
    </header>
  </header>
  <main>
    <h1>
    </h1>
  </main>
  
<%- include("./partials/end.ejs") %>