<%- include("./partials/head.ejs") %>

  <header>
    <%- include("./partials/navbar.ejs") %>
  </header>
  <main>
    <h1>
      <%=message%>
    </h1>
  </main>
  
<%- include("./partials/end.ejs") %>